<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgGpO5Yb2KuGrZ7Xx30WGNq3-O6y68vLE</string>
	<key>GCM_SENDER_ID</key>
	<string>933165713114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FrancoCarreiro.Dermacycle2</string>
	<key>PROJECT_ID</key>
	<string>dermacycle2</string>
	<key>STORAGE_BUCKET</key>
	<string>dermacycle2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933165713114:ios:7273bdb590f0e681fe87e3</string>
</dict>
</plist>